GP_ENV=
GP_PUBLIC_BASE_URL=
GP_DB_PATH=
GP_DEMO_MODE=
GP_DAILY_RESET=
GP_DEBUG_KEYS=
GP_LIVE_TRANSCRIPT=
GP_CARD_DELIVERY=
GP_LLM_PROVIDER=
GP_LLM_MODEL=
GP_LLM_FALLBACK_MODEL=
GP_LLM_API_KEY=
GP_LLM_BASE_URL=
GP_LLM_TIMEOUT_S=
GP_TURN_BUDGET_S=
GP_LLM_DAILY_TURN_CAP=
GP_LLM_HEDGE_MS=
GP_RULES_TABLE=
GP_PROGRAMS=
GP_PROGRAMS_TABLE=
GP_TZ=
GP_CARD_TTL_DAYS=
GP_SHORT_CODE_TTL_H=
GP_DEMO_PHONE_DISPLAY=
GP_GATEWAY_SECRET=
GP_CONSOLE_PASSCODE=
GP_SESSION_SECRET=
